{% extends 'admin/base.html' %}
 {% import 'module/paginator.html' as paginator %}
{% block head %}
<title>主页</title>

{% endblock %}

{% block content %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
		</div>
<p></p>
<table class="table table-bordered table-hover ">
        <thead>
          <tr>
            <th>id</th>
            <th>邮箱</th>
            <th>等级</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for log_obj in page_data.items %}
    <tr>
      <td>{{ log_obj.id }}</td>
      <td>{{ log_obj.email }}</td>
      <td>{{ log_obj.level }}</td>
      <td>{{ log_obj.op_time }}</td>
      <td>{{ log_obj.comment }}</td>
    </tr>
    {% endfor %}
        </tbody>
      </table>
          <!-- 分页 -->
{{ paginator.pagination(page_data, 'admin.log') }}
<!-- // 分页 -->
</div><!-- /.main-content -->

{% endblock %}