{% extends 'admin/base.html' %}
 {% import 'module/paginator.html' as paginator %}
{% block head %}
<title>主页</title>

{% endblock %}

{% block content %}
<div class="main-content">
  <div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
  </div>
<p></p>
<div id='dhide' style="display:none;">
<form  class="navbar-form navbar-left" id="formid" >
                <div class="form-group">
                    {{ form.email.label.text }}
                    {{ form.email }}
                  </div>
                <div class="form-group">
                    {{ form.username.label.text }}
                    {{ form.username }}
                  </div>
                <div class="form-group">
                    {{ form.password.label.text }}
                    {{ form.password }}
                </div>
  <div class="form-group">
  <button type="button" class="btn btn-xs" id='newbtn'>新增用户</button>
  </div>
</form>
</div>
<div id='useredit' style="display:none;">
<form  class="navbar-form navbar-left" id="save" >
                  <div class="form-group">
                    {{ form1.username.label }}
                    {{ form1.username }}
                </div>

                <div class="form-group">
                    {{ form1.password.label }}
                    {{ form1.password }}
                </div>
                  <div class="form-group">
    <input type="hidden" name="uid" > 
                </div> 
                <div class="form-group">
                     <button type="button" class="btn btn-xs" id='btnsave'>保存</button>
                </div>
</form>
</div>
<div id="addinfo" style="clear:both;" >
  
</div>
<table class="table table-bordered table-hover ">
        <thead>
          <tr>
            <th>id</th>
            <th>邮箱</th>
            <th>用户名</th>
            <th>用户状态</th>
            <th>最后登陆</th>
            <th><button class="btn btn-xs btn1"><span class="glyphicon glyphicon-user"></span>新增</button></th>
          </tr>
        </thead>
        <tbody>
        {% for user_obj in page_data.items %}
    <tr>
      <td>{{ user_obj.id }}</td>
      <td>{{ user_obj.email }}</td>
      <td>{{ user_obj.username }}</td>
      <td>{% if user_obj.is_valid %}Enable{% else %}Disable{% endif %}</td>
      <td>{{ user_obj.last_login|default('', true) }}</td>
      <td>
       <button id="{{user_obj.id}}" class="btn btn-xs btn-info btne"><i class="ace-icon fa fa-pencil bigger-120"></i></button>
       <button id="{{user_obj.id}}" class="btn btn-xs btn-danger btndel"><i class="ace-icon fa fa-trash-o bigger-120"></i></button>

      </td>
    </tr>
    {% endfor %}
        </tbody>
      </table>
          <!-- 分页 -->
{{ paginator.pagination(page_data, 'admin.user') }}
<!-- // 分页 -->
</div><!-- /.main-content -->

<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootbox.js') }}"></script>

<script >
  var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})


  $("#newbtn").click(function(e){
    e.stopPropagation();
    data = $('#formid').serialize();
    // 缓慢隐藏
    $("#dhide").hide('slow');

    // jquery post方式
    $.post("/admin/useradd",data,function(data){
      $("#addinfo").show();
      $("#addinfo").html(data.message);
      location.reload();
    },'json');

  });
  // jquery  mousedown 
  //$("input").focusout(function() {
  $("input").mousedown(function() {
    value = $(this).val();
    id = $(this).attr('id');
    data = {};
    data[id]=value;
    // alert(data);
    $.ajax({
    type: 'POST',
    url: '/admin/useradd',
    data: data, // 最终会被转化为查询字符串跟在url后面： 
    dataType: 'json', // 注意：这里是指希望服务端返回json格式的数据
    success: function(data) { // 这里的data就是json格式的数据
      // alert(data.message)
      // $("#addinfo").show();
      
      $("#addinfo").html(data.message)
      //$('.form-group input[type="text"]').val()
    },
    error: function(xhr, type) {
    }
    });
  });

  $(".btne").click(function(){
    $("#useredit").show();
    $("#dhide").hide();
    uid = $(this).attr('id');
    $.ajax({
    type: 'POST',
    url: '/admin/userinfo/'+uid+'/',
    //data: data, // 最终会被转化为查询字符串跟在url后面： 
    dataType: 'json', // 注意：这里是指希望服务端返回json格式的数据
    success: function(data) { // 这里的data就是json格式的数据
      // 获取$('#useredit input[type="text"]').val()值
      // $('#useredit input[type="text"]').val()=data.username;
      // 赋予值id为useredit里面的input(筛选条件 type="text" )的value 为data.username
      $('#useredit input[type="text"]').val(data.username);

      $('#useredit input[type="hidden"]').val(data.uid);

      
    },
    error: function(xhr, type) {
    }
    });
  });

  $("#btnsave").click(function(e){
    e.stopPropagation();
    data = $('#save').serialize();
    $("#dhide").hide('slow');
    //jquery ajax提交数据，比post灵活，但是参数多
    $.ajax({
    type: 'POST',
    url: '/admin/useredit/'+uid+'/',
    data: data, // 最终会被转化为查询字符串跟在url后面： 
    dataType: 'json', // 注意：这里是指希望服务端返回json格式的数据
    success: function(data) { // 这里的data就是json格式的数据
      //加载刷新整个页面
      location.reload();
      $("#addinfo").show();
      $("#addinfo").html(data.message) 
    },
    error: function(xhr, type) {
    }
    });
  });

  $(".btn1").click(function(){
      $("#useredit").hide();
      $("#dhide").show();
      // $("#addinfo").hide();
  });

  $(".btndel").on('click',function(){
    uid = $(this).attr('id');
    bootbox.confirm({
      size: "small",
      message: "确认删除！", 
      callback: function(result){ /* result is a boolean; true = OK, false = Cancel*/
            if (result === true) {
              
              data = uid;
              $.ajax({
                type: 'POST',
                url: '/admin/userdel/'+uid+'/',
                data: data, // 最终会被转化为查询字符串跟在url后面： 
                dataType: 'json', // 注意：这里是指希望服务端返回json格式的数据
                success: function(data) { // 这里的data就是json格式的数据
                window.location.href="/admin/user";
                },
                error: function(xhr, type) {
                }
              });

            } else {
              // result has a value
            }
      }
    })
  });


  
</script>


{% endblock %}